body, ul, li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}

.logo{
    width: 8%;
    margin-left: 50px;
}

a{
    text-decoration: none;
    color: #fff;
}

.header{
    background-color: rgb(90, 87, 87);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background-color: rgb(73, 73, 232);
}

.flex{
    min-height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}

.imagem{
    width: 400px;
    height: auto;
}

.item{
    display: flex;
    align-items: flex-start;
    /* border: 2px solid black; */
    margin: 10px;
}

.paragrafo{
    padding: 10px;
    text-align: justify;
    font-family: 'Poppins';
}